# .env.example
# -----------------------------------------


# Base URL of backend API
NEXT_PUBLIC_API_BASE_URL="http://localhost:3001"

# Public admin key 
NEXT_PUBLIC_ADMIN_API_KEY=""

# Booking countdown timer in seconds (e.g. 120 = 2 minutes)
NEXT_PUBLIC_BOOKING_TIMER=120

# Defines the minimum allowed multiplier for the Floor Price relative to the Base Price.
NEXT_PUBLIC_MIN_FLOOR_WEIGHT=0.8 
# Defines the maximum allowed multiplier for the Floor Price relative to the Base Price.
NEXT_PUBLIC_MAX_FLOOR_WEIGHT=0.95 

# Defines the minimum allowed multiplier for the Ceiling Price relative to the Base Price.
NEXT_PUBLIC_MIN_CEILING_WEIGHT=1.05 
# Defines the maximum allowed multiplier for the Ceiling Price relative to the Base Price.
NEXT_PUBLIC_MAX_CEILING_WEIGHT=1.2 
